{% liquid
  assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
  assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
%}

<section class="hero page-width page-width-desktop lg:grid lg:grid-cols-2">
    {{
      section.settings.image
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image.width,
        height: image_height,
        widths: widths,
        class: 'object-cover max-h-[32rem]'
    }}
  <div class="scroll-trigger animate--slide-in bg-primary-light dark:bg-primary-dark py-10 text-center lg:flex lg:flex-col lg:items-center lg:justify-center">
    {% if section.settings.headline %}
      <h1 class="text-secondary-light dark:text-secondary-dark mb-6 font-heading">
        {{ section.settings.headline }}
      </h1>
    {% endif %}
    {% if section.settings.copy %}
      <p class="text-secondary-light dark:text-secondary-dark mb-6 font-copy">{{ section.settings.copy }}</p>
    {% endif %}
    {% if section.settings.buttonUrl and section.settings.buttonLabel %}
      <a
        class="btn"
        href="{{ section.settings.buttonUrl }}"
      >
        {{- section.settings.buttonLabel -}}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Bild auswählen"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Überschrift"
    },
    {
      "type": "text",
      "id": "copy",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "buttonUrl",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "buttonLabel",
      "label": "Linktext",
      "default": "Jetzt entdecken"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
